html {
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.header {
    box-sizing: border-box;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-weight: bolder;
    font-size: 4em;
}

h2 {
    font-size: 2.3em;
    letter-spacing: -0.07em;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;}

h4 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: #F7931E;
    color: #ffffff;
    border-color: #F7931E;
    width: 10em;
    border-radius: 1.25em   ;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #ffffff;
    color: #F7931E;
    border-color: #F7931E;
}

.btn-secondary {
    background-color: #ffffff;
    color: #F7931E;
    border-color: #F7931E;
    width: 10em;
    border-radius: 1.25em   ;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #F7931E;
    color: #ffffff;
    border-color: #ffffff;
}

.header {
    position: relative;
}

.top_part {
    @include flexbox();
}

.company {
    position: absolute;
    display: flex;
    max-height: 53%;
    width: 76%;
    color: #ffffff;
    left: 8.2%;
    top: 15%;
}

.company > h2 {
    font-weight: lighter;
    margin: 2% 0 0 8%;
    word-spacing: 0.1em;
}

.bgr_color {
    height: 13.5em;
    background-color: #F7931E;
}

.brg_img {
    background-size: cover;
}

.logo_text {
    margin: 2% 1%;
}

.logo_text h2 {
    font-weight: bolder;
    font-size: 2.5em;
    margin-bottom: 4.5%;
}

.logo_text p {
    font-size: 0.75em;
    margin: -8% 0 0 1%;
}

.logo_small {
    max-width: 4em;
}

.nav_header {
    left: 34%;
    top: 77%;
    display: inline-flex;
    font-weight: 600;
    letter-spacing: -0.07em;
    font-size: 0.75em;
    position: absolute;
}

nav {
    background-color: #F7931E;
}

.nav-item {
    padding: 0 25px;
    margin-right: 5px;
}

.nav-link {
    color: black!important;
}

.nav-link:hover,
.nav-link:active {
    color: #F7931E!important;
}

.nav-item:hover,
.nav-item:active {
    color: #F7931E;
    background-color: #ffffff;
}

.dropdown > a:hover,
.dropdown > a:active {
    cursor: pointer!important;
}

.dropdown-menu {
    min-width: 9.5rem;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

.dropdown-item {
    text-align: center;
    font-size: 12px;
    border-radius: 0;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: #ffffff;
    color: #F7931E;
}

.bottom_part {
    margin: -20.5em 0 0;
}

.logo_medium {
    height: 10em;
}

.second_logo {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150%;
    left: 18%;
}

.bpart_text {
    margin: 6% 5%;
    letter-spacing: -0.3em;
    color: #ffffff;
}

.bpart_text p {
    margin: -4% 0 0 1%;
    letter-spacing: -0.05em;
    font-size: 1.3em;
}

.info {
    position: relative;
    margin: 0 auto;
}

.info h1 {
    letter-spacing: -0.08em;
    color: #666666;
}

.top_info {
    margin: 3% auto 0;
}

.info .rocket {
    background-image: url("images/rocket.jpg");
    background-size: cover;
    background-position: center;
    height: 67%;
    width: 28em;
    margin: 6% auto 0;
}

.site_img {
    margin-right: 3%;
}

.site_info {
    margin-left: -2.5%;
}

.quote {
    background-color: #F2F2F2;
    font-size: 0.7em;
    width: 93%;
}

.quote p {
    margin: 0 7.5%;
    font-weight: 500;
}

.left_q {
    margin: 3% 0 0 3%;
    width: 4%;
}

.right_q {
    margin: 0 0 3% 93%;
    width: 4%;
}

.text_info {
    width: 30em;
    @include flexbox();
}

.text_info h2 {
    width: 61%;
    color: #666666;
    margin: 5% 0 0;
    line-height: 1em;
}

.text_info p {
    font-size: 0.7em;
    margin-top: 7%;
    font-weight: 500;
}

.text_info p:nth-child(4),
.text_info p:nth-child(2n+1){
    margin-top: 0;
}

.questions {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.questions ul,
.questions ol {
    padding-left: 1em;
}

.questions ul li {
    color: #F7931E;
    margin-left: 8%;
}

.questions ol {
    list-style-type: none;
    counter-reset:  item;
}

.questions ol li {
    font-style: italic;
}

.questions ol li:before {
    content: counter(item) ') ';
    counter-increment: item;
    font-size: 0.8em;
    font-weight: 500;
}

.questions span {
    font-size: 0.7em;
    font-weight: 500;
    font-style: italic;
    line-height: 0.7em;
    margin: 0;
    word-spacing: -0.05em;
    color: #000000;
}

.q_left {
    margin: 0 4em 0 3em;
}

.q_right {
    margin-right: 7em;
    width: 28em;
}

.feedback_section {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
}

.feedback_section .container {
    padding-left: 3.5%;
}

.some_information {
    width: 54%;
}

.some_information h3 {
    letter-spacing: -0.05em;
    color: #666666;
}

.some_information p {
    font-size: 0.7em;
    margin-top: 6%;
    font-weight: 500;
}

.some_information span {
    color: #F7931E;
}

.feedback {
    width: 31%;
    height: 14.5em;
    text-align: center;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0.4em 0.4em 0.1em #d9d9d9;
}

.feedback h4 {
    color: #666666;
    margin: 6% 0;
}

.feedback_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.form-group {
    width: 18.5em;
    left: 3.5em;
    position: relative;
}

input {
    border-radius: 21.25rem!important;
}

::-webkit-input-placeholder {
    color: #CCCCCC;
    text-align: center;
}
::-moz-placeholder {
    color: #CCCCCC;
    text-align: center;
}

.button_send {
    margin-left: 34%;
}

.info_section {
    width: 76.5%;
    margin: 0 auto;
}

.info_section .container,
.card_info .container {
    display: flex;
    flex-direction: column;
}

.info_section span,
.pagination_sect span {
    font-weight: bold;
    font-size: 0.7em;
}

.info_section .part_name,
.pagination_sect .part_name {
    background-color: #d9d9d9;
    font-size: 0.7em;
    padding: 0.3% 2.5%;
    margin-left: 4%;
}

.header_sect,
.left_sect,
.header_first,
.header_second,
.cont_left,
.cont_right,
.footer_left,
.footer_right {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #d9d9d9;
    margin-bottom: 3.5%;
}

.header_sect img{
    width: 33.5%;
    height: 16em;
    margin-right: 3%;
}

.header_sect .info_links {
    max-height: 2.4em;
}

.header_sect .nav_links {
    width: 40%;
}

.sect_text {
    margin-top: 2%;
}

.sect_text h5 {
    margin: 3% 0 3.5%;
}

.sect_text p {
    margin-bottom: 4%;
}

.info_links {
    display: flex;
    justify-content: space-between;
}

.nav_links {
    margin-top: 3%;
    font-size: 0.7em;
    font-weight: bold;
}

.nav_links > .nav_button {
    margin: 0 4%;
    color: #000000;
}

.nav_links > .active_btn {
    color: #F7931E;
}

.nav_links > .nav_button:hover,
.nav_links > .nav_button:active,
.nav_links > .nav_button:focus {
    color: #F7931E;
    text-decoration: none;
}

.main_sect {
    display: flex;
    justify-content: space-between;
}

.left_sect {
    width: 49.5%;
}

.left_sect .nav_button {
    margin: 0 9%;
}

.left_sect .sect_text {
    padding-top: 2.5%;
    margin: 0 -13% 0;
    padding-left: 5%;
    max-width: 52%;
    background-color: #ffffff;
}

.left_sect .part_name {
    margin-left: 11.5%;
    padding: 0.7% 6.4%;
}

.left_sect h5 {
    max-width: 11.5em;
    margin: 7% 0;
}

.left_sect p {
    max-width: 15.5em;
    margin: 12% 0;
}

.left_sect .nav_links {
    margin: 5% 0 8% -4%;
    display: inline-flex;
}

.left_sect img{
    width: 60.5%;
    height: 100%;
}

.right_sect {
    border: 1px solid #d9d9d9;
    margin-bottom: 3.5%;
    width: 49.5%;
    background: linear-gradient(180deg, transparent 0%, black 350%),
                url("images/rocket.jpg");
    background-size: cover;
    color: #ffffff;
}

.right_sect .sect_text {
    margin-top: 24%;
    margin-left: 4%;
}

.right_sect .sect_text h5 {
    margin-top: 2.5%;
}

.right_sect .part_name {
    color: #000000;
}

.right_sect .nav_links {
    margin-top: 13%;
    margin-left: 40%;
}

.right_sect .nav_button {
    color: #ffffff;
}

.more_btn {
    margin-bottom: 3.5%;
    display: flex;
    justify-content: center;
}

.more_btn .btn-primary {
    margin-right: 1.5%;
}

.footer_sect {
    display: inline-flex;
}

.left_fsect,
.right_fsect {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #d9d9d9;
    margin-bottom: 35px;
    width: 49.5%;
    height: 100%;
}

.left_fsect {
    margin-right: 1.5%;
}

.left_fsect img,
.right_fsect img {
    width: 37%;
    height: 8.3em;
}

.footer_sect .sect_text {
    margin: 3% 0 0 3%;
}

.left_fsect h6 {
    margin-bottom: 11%;
}

.footer_sect span,
.footer_sect .part_name {
    font-size: 0.6em;
}

.footer_sect .part_name {
    margin-left: 4%;
    padding: 1% 4%;
}

.footer_sect p {
    font-size: 0.56em;
    width: 92%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.footer_sect .nav_links {
    margin-left: 23%;
    font-size: 0.6em;
}

.pagination_sect,
.last_pgnt {
    flex-direction: column;
    margin: 0 auto;
}

.pagination_sect .container,
.pagination_sect .pgn_btn,
.last_pgnt .container {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5%;
}

.pagination_sect .pgn_btn {
    margin-bottom: 6%;
}

.pagination_sect img {
    width: 100%;
    height: 10.5em;
}

.pagination_sect .sect_text {
    width: 96%;
    margin-left: 8%;
    margin-top: 7%;
}

.pgnt_first,
.pgnt_second,
.pgnt_third,
.pgnt_fourth,
.first_pgnt,
.second_pgnt,
.third_pgnt,
.fourth_pgnt {
    width: 21.5%;
    border: 1px solid #d9d9d9;
    margin-bottom: 3.5%;
    margin-right: 1.4%;
    height: 100%;
}

.pgnt_fourth {
    margin-right: 0;
}

.container p {
    width: 90%;
}

.pagination_sect .nav_links {
    margin: 5% 0 8% 3%;
}

.pgnt_b {
    margin: 6% 0 6% 9%;
}

.pagination_sect .part_name {
    padding: 1% 6%;
}

.card_info .container {
    width: 76%;
}

.header_first,
.cont_left {
    background-color: #F7931E;
}

.logo_big {
    width: 10%;
    height: 10%;
    margin: 3% 9% 1.5%;
}

.card_info h3 {
    margin: 1.5% 0 3.5%;
    font-weight: 500;
}

.card_cont p {
    margin-top: 11%;
}

.card_cont,
.card_footer {
    display: flex;
    justify-content: space-between;
}

.card_info .logo_medium {
    margin: 7% 9% 7%;
}

.card_cont .sect_text {
    width: 53%;
    margin: 4% 1% 0 9%;
}

.cont_left,
.cont_right {
    width: 49.3%;
}

.cont_left,
.footer_left,
.first_pgnt,
.third_pgnt {
    background-color: #F7931E;
    color: #ffffff;
}

.cont_right,
.footer_right {
    background-color: #d9d9d9;
}

.card_footer .logo_small {
    height: 7em;
    margin: 3% 7.5% 0 7.5%;
}

.card_footer .sect_text {
    width: 61%;
}

.footer_left h3 {
    margin-top: 9%;
}

.footer_left,
.footer_right {
    height: 8.7em;
    width: 49.3%;
}

.footer_right .sect_text {
    margin-top: 0;
}

.footer_right p {
    margin-top: 6%;
    font-size: 0.9em;
}

.last_pgnt .container {
    margin-bottom: 5%;
}

.last_pgnt .logo_big {
    margin: 13% 0 4%;
    width: 3em;
}

.first_pgnt,
.second_pgnt,
.third_pgnt,
.fourth_pgnt {
    text-align: center;
    margin-right: 1.4%;
}

.fourth_pgnt {
    margin-right: 0;
}

.last_pgnt .sect_text {
    width: 97%;
    margin-bottom: 13%;
}

.last_pgnt p {
    margin: 9% 0 11% 6%;
    font-size: 0.9em;
}

.footer_part {
    display: flex;
    justify-content: flex-start;
    height: 15em;
}

.company_bottom {
    display: flex;
    color: #ffffff;
    max-height: 7.5em;
    margin: 3% 10% 0 9%;
}

.nav_footer {
    font-weight: 600;
    letter-spacing: -0.07em;
    font-size: 0.75em;
    max-height: 30%;
    margin-top: 4%;
}

.nav_footer .dropdown-menu {
    background-color: #F7931E;
}

.nav_footer .dropdown-item {
    text-align: left;
}

.nav_footer .dropdown-item:hover,
.nav_footer .dropdown-item:active {
    background-color: #F7931E;
    color: #ffffff;
}